* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #181818;
}
.largechatsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  height: 100vh;
  width: 70rem;
  border-radius: 15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: blue;
  padding: 2rem;
}
.user-message {
  align-self: flex-end;
  background-color: red;
  width: fit-content;
  border-radius: 7px;
  padding: 0.5rem;
}
.system-message {
  align-self: flex-start;
  width: fit-content;
  background-color: green;
  border-radius: 7px;
  padding: 0.5rem;
}
.inputbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 3rem;
  width: 100%;
}
#inputbar {
  border-radius: 15px;
  border-color: white;
  border-style: solid;
  background-color: black;
  color: white;
  height: 2rem;
  width: 50rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
}
#submit {
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
  border-width: 0px;
  background-color: white;
}
